.nav-bar {
  position: relative;
  /* background-color: lightblue; */
}

.nav-items {
  display: flex;
}

.nav-items a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

li {
  margin-right: 35px;
}

/* Resume Dropdown */
.download-options {
  position: absolute;
  display: block;
  /* width: 6%; */
  padding: 0%;
  top: 32%;
}

.download-options button {
  margin: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
}

.download-options button:focus {
  opacity: 0.58;
}

.download-options h2:hover {
  cursor: pointer;
}

.download-options li {
  color: #fff;
}

.download-options a li {
  padding: 5px;
  margin: 0%;
}

.hide {
  display: none;
}

.show {
  display: block;
  border: 1px solid black;
  border-radius: 3%;
  background-color: #1d3557;
  width: 80%;
}

.show a li:hover {
  background-color: #457b9d;
  border-radius: 3%;
  opacity: 0.88;
}

/* Social Network Icons */
.social-icons {
  margin-top: 1%;
}

.social-icons li {
  display: inline;
}

.social-icons svg {
  height: 20px;
  margin-right: 0%;
  fill: #fff;
}

@media (max-width: 700px) {
  ul {
    padding-left: 5%;
    margin-top: 3px;
  }

  li {
    margin-right: 20px;
  }

  .download-options {
    top: 27%;
  }

  .show {
    width: 30vw;
  }

  .social-icons {
    width: 20%;
    display: flex;
    margin-top: 15px;
  }

  .social-icons li {
    margin: 5%;
  }

  .show {
    width: 80%;
  }
}
