.project-group {
  margin-top: 200px;
  padding-left: 74px;
}

.card-img {
  height: 220px;
}

.card-text {
  padding: 20px;
}

.tech-icons {
  height: 35px;
  margin-right: 20px;
}

.projects-header {
  text-align: left;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
  .project-group {
    padding-left: 0px;
  }

  .card-img {
    display: none;
  }

  .card-text {
    padding: 5px;
  }

  .card-btn {
    padding: 3px;
  }

  .tech-icons {
    margin-right: 15px;
  }

  .projects-header {
    padding-left: 20px;
  }
}
