.skills-container {
  margin-top: 10%;
  padding-left: 5%;
  text-align: left;
}

.skills-container h2 {
  margin-bottom: 45px;
}

.proficient-icons {
  display: "flex";
  flex-wrap: wrap;
  gap: "30px";
}

.proficient-icons svg,
.proficient-icons img {
  background-color: rgba(33, 37, 41);
  border-radius: 6%;
  padding: 15px;
  height: 80px;
  fill: #fff;
}
